<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Logs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
          .box {
            display: flex;
            justify-content: space-between;
        }

        .link-box {
            flex: 1;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Manage Logs</h1>
<div class="box">
    <div class="link-box">
        <a href="{{ url_for('admin') }}">Admin Panel</a>
    </div>
    <div class="link-box">
        <a href="{{ url_for('admin_logs') }}">Admin Logs</a>
    </div>
    <div class="link-box">
        <a href="{{ url_for('admin_user_list') }}">User List</a>
    </div> </div> 
    <div class="container mt-4">
        <h1>Admin Logs</h1>
        <form method="POST">
            <div class="form-group">
                <label for="logType">Select Log Type:</label>
                <select class="form-control" id="logType" name="log_type">
                    <option value="registration" {% if log_type == 'registration' %} selected {% endif %}>Registration Logs</option>
                    <option value="posting" {% if log_type == 'posting' %} selected {% endif %}>Posting Logs</option>
                    <option value="comments" {% if log_type == 'comments' %} selected {% endif %}>Comments Logs</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Show Logs</button>
        </form>

        <hr>

        <h2>{{ log_type }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                       
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.activity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
