<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel - Posts</title>
</head>
<body>
    <h1>Manage Posts</h1>
    <a href="{{ url_for('admin') }}">Admin Panel</a>
    <a href="{{ url_for('admin_users_list') }}">User List</a>
    <table border="1">
        <tr>
            <th>Post ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Posted By</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
           
            <td>{{ post._id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <!-- <td>{{ for item in post.content:
                print(item['content']) }}</td> -->
            <td>{{ post.user }}</td>
            <td>
                <form action="/admin/delete_post/{{ post._id }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
